@font-face {
  font-family: "Aspergit";
  src: url("../fonts/Aspergit.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Aspergit";
  src: url("../fonts/Aspergit Bold.otf");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPTLight.otf");
  font-weight: 300; }

body {
  background-color: #361281;
  color: #fff;
  margin: 0;
  position: relative;
  overflow-x: hidden; }

*::selection {
  background-color: #d5ff2f;
  color: #361281; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0; }

h1 {
  font-family: "Aspergit";
  font-size: 113px;
  font-style: normal;
  font-weight: 700;
  line-height: 117%;
  /* 132.21px */
  text-transform: uppercase;
  font-size: 113px; }
  @media only screen and (max-width: 1200px) {
    h1 {
      font-size: 80px; } }
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 30px; } }

h2 {
  font-family: "Aspergit";
  font-size: 94px;
  font-style: normal;
  font-weight: 700;
  line-height: 117%;
  /* 109.98px */
  letter-spacing: -2.83px;
  text-transform: uppercase;
  font-size: 94px; }
  @media only screen and (max-width: 1200px) {
    h2 {
      font-size: 60px; } }
  @media only screen and (max-width: 768px) {
    h2 {
      font-size: 30px; } }
  @media only screen and (max-width: 768px) {
    h2 {
      letter-spacing: 2px; } }

h3 {
  font-family: "Aspergit";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 142%;
  font-size: 54px; }
  @media only screen and (max-width: 1200px) {
    h3 {
      font-size: 40px; } }
  @media only screen and (max-width: 768px) {
    h3 {
      font-size: 22px; } }

h4 {
  font-family: "Aspergit";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 113%;
  /* 113.636% */
  letter-spacing: 0.88px;
  font-size: 44px; }
  @media only screen and (max-width: 1200px) {
    h4 {
      font-size: 36px; } }
  @media only screen and (max-width: 768px) {
    h4 {
      font-size: 22px; } }

h5 {
  font-family: "Aspergit";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 100% */
  letter-spacing: -0.6px;
  font-size: 30px; }
  @media only screen and (max-width: 1200px) {
    h5 {
      font-size: 30px; } }
  @media only screen and (max-width: 768px) {
    h5 {
      font-size: 20px; } }

p,
a {
  font-family: "Futura PT";
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%;
  /* 110% */
  letter-spacing: -1.2px;
  font-size: 30px; }
  @media only screen and (max-width: 1200px) {
    p,
    a {
      font-size: 25px; } }
  @media only screen and (max-width: 768px) {
    p,
    a {
      font-size: 20px; } }

p.small,
span.small,
a.small {
  font-family: "Futura PT";
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 114%;
  /* 114.286% */
  letter-spacing: -1.12px;
  font-size: 28px; }
  @media only screen and (max-width: 1200px) {
    p.small,
    span.small,
    a.small {
      font-size: 23px; } }
  @media only screen and (max-width: 768px) {
    p.small,
    span.small,
    a.small {
      font-size: 16px; } }

a {
  text-decoration: none;
  color: #fff; }

.cta {
  color: #361281;
  text-align: center;
  font-family: "Aspergit";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 111%;
  /* 19.98px */
  letter-spacing: -0.54px;
  text-transform: uppercase; }

.highlight-text {
  color: #d5ff2f;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: default; }
  .highlight-text:hover {
    background-color: #d5ff2f;
    color: #361281; }

@media only screen and (max-width: 768px) {
  .small-group {
    width: 40px; } }

@media only screen and (max-width: 1200px) {
  .big-group {
    width: 100px; } }

@media only screen and (max-width: 768px) {
  .big-group {
    width: 60px; } }

.arrows {
  width: 70px !important; }
  @media only screen and (max-width: 1200px) {
    .arrows {
      width: 55px !important; } }
  @media only screen and (max-width: 768px) {
    .arrows {
      width: 45px !important; } }

@-webkit-keyframes animate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes arrowIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes spin {
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg); } }

@keyframes animate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@keyframes arrowIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

@keyframes spin {
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg); } }

.toAnimate {
  opacity: 0;
  -webkit-transform: translateY(150px);
  -moz-transform: translateY(150px);
  -ms-transform: translateY(150px);
  -o-transform: translateY(150px);
  transform: translateY(150px); }

.entered {
  opacity: 1;
  -webkit-transition: all 0.5s ease 0.3s;
  -moz-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.arrowIn {
  opacity: 0;
  -webkit-animation: arrowIn 0.3s ease-out 0.5s 1 forwards;
  animation: arrowIn 0.3s ease-out 0.5s 1 forwards; }

.spin {
  opacity: 0;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-animation: spin 1s ease 0.4s 1 forwards;
  animation: spin 1s ease 0.4s 1 forwards; }

header {
  margin: 0rem auto 0;
  padding-left: 7.5%;
  padding-right: 7.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 2;
  top: 0;
  left: 7.5%;
  backdrop-filter: blur(10px);
  opacity: 0;
  -webkit-animation: animate 0.5s ease-in 0.2s 1 forwards;
  animation: animate 0.5s ease-in 0.2s 1 forwards; }
  header img {
    height: 40px; }
  header .nav {
    display: flex;
    flex-direction: row;
    color: #f9f9f9; }
    header .nav hr {
      height: 32px;
      margin: auto 17px;
      opacity: 0.3; }
    header .nav a {
      text-decoration: none;
      position: relative;
      margin: 28px auto; }
      header .nav a:hover::after {
        width: 100%; }
      header .nav a::after {
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 0%;
        height: 3px;
        background-color: #d5ff2f; }
  @media only screen and (max-width: 768px) {
    header {
      padding: 1rem; }
      header img {
        height: 20px; }
      header .nav a {
        margin: 0; }
      header .nav p {
        font-size: 20px;
        margin: 0 auto; }
      header .nav hr {
        margin: 0 1rem; } }

.socials {
  position: absolute;
  height: 95%;
  right: 36px;
  opacity: 0;
  -webkit-animation: animate 0.5s ease-in 0.4s 1 forwards;
  animation: animate 0.5s ease-in 0.4s 1 forwards;
  z-index: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .socials .socials__wrapper {
    position: sticky;
    top: 260px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 1;
    background-color: #361281; }
    .socials .socials__wrapper a img {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .socials .socials__wrapper a:hover img {
      background-color: #361281;
      -webkit-transform: scale(2) translateX(-5px) translateY(-2px);
      -moz-transform: scale(2) translateX(-5px) translateY(-2px);
      -ms-transform: scale(2) translateX(-5px) translateY(-2px);
      -o-transform: scale(2) translateX(-5px) translateY(-2px);
      transform: scale(2) translateX(-5px) translateY(-2px); }
  @media only screen and (max-width: 768px) {
    .socials {
      right: 5px; }
      .socials .socials__wrapper {
        gap: 0.5rem;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        width: 100%;
        top: 100px;
        margin: auto; }
      .socials:hover {
        right: 1rem; }
        .socials:hover .socials__wrapper {
          gap: 1rem; }
      .socials a img {
        width: 20px; } }

.hero {
  position: relative; }
  .hero .hero__svg--top {
    margin: auto;
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
    -webkit-animation: animate 0.5s ease 0.2s 1 forwards;
    animation: animate 0.5s ease 0.2s 1 forwards;
    width: 60px !important; }
    @media only screen and (max-width: 1200px) {
      .hero .hero__svg--top {
        width: 40px !important; } }
    @media only screen and (max-width: 768px) {
      .hero .hero__svg--top {
        width: 30px !important; } }
  .hero .hero__wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem; }
    .hero .hero__wrapper h1 {
      margin: 190px auto 0;
      word-spacing: 1rem;
      opacity: 0;
      -webkit-transform: translateY(50%);
      -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
      -o-transform: translateY(50%);
      transform: translateY(50%);
      -webkit-animation: animate 0.5s ease-in 0.2s 1 forwards;
      animation: animate 0.5s ease-in 0.2s 1 forwards; }
    .hero .hero__wrapper .hero__subtitle {
      width: 42%;
      align-self: flex-end;
      position: relative;
      margin-top: 1rem; }
      @media only screen and (max-width: 768px) {
        .hero .hero__wrapper .hero__subtitle {
          width: 60%;
          margin-right: 2rem; } }
      .hero .hero__wrapper .hero__subtitle p {
        margin-bottom: 30px;
        opacity: 0;
        -webkit-transform: translateY(160%);
        -moz-transform: translateY(160%);
        -ms-transform: translateY(160%);
        -o-transform: translateY(160%);
        transform: translateY(160%);
        -webkit-animation: animate 0.5s ease-in 0.6s 1 forwards;
        animation: animate 0.5s ease-in 0.6s 1 forwards; }
    .hero .hero__wrapper .hero__button--join {
      opacity: 0;
      -webkit-transform: translateY(60%);
      -moz-transform: translateY(60%);
      -ms-transform: translateY(60%);
      -o-transform: translateY(60%);
      transform: translateY(60%);
      -webkit-animation: animate 0.5s ease-in 0.9s 1 forwards;
      animation: animate 0.5s ease-in 0.9s 1 forwards; }
      @media only screen and (max-width: 1200px) {
        .hero .hero__wrapper .hero__button--join {
          width: 150px; } }
      @media only screen and (max-width: 768px) {
        .hero .hero__wrapper .hero__button--join {
          width: 100px; } }
      .hero .hero__wrapper .hero__button--join text {
        -webkit-transform: translate(50%, 50%);
        -moz-transform: translate(50%, 50%);
        -ms-transform: translate(50%, 50%);
        -o-transform: translate(50%, 50%);
        transform: translate(50%, 50%);
        fill: #361281;
        font-family: "Aspergit";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        /* 19.98px */
        letter-spacing: 0.9px;
        text-transform: uppercase;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      .hero .hero__wrapper .hero__button--join path {
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      .hero .hero__wrapper .hero__button--join:hover path {
        fill: #fff; }
      .hero .hero__wrapper .hero__button--join:hover text {
        letter-spacing: 5px;
        -webkit-transform: translate(50%, 50%) scale(1.2);
        -moz-transform: translate(50%, 50%) scale(1.2);
        -ms-transform: translate(50%, 50%) scale(1.2);
        -o-transform: translate(50%, 50%) scale(1.2);
        transform: translate(50%, 50%) scale(1.2);
        font-weight: 700; }
    .hero .hero__wrapper .hero__gear1 {
      position: relative;
      opacity: 0;
      -webkit-transform: translateY(60%);
      -moz-transform: translateY(60%);
      -ms-transform: translateY(60%);
      -o-transform: translateY(60%);
      transform: translateY(60%);
      -webkit-animation: animate 0.3s ease-in 1.1s 1 forwards;
      animation: animate 0.3s ease-in 1.1s 1 forwards;
      top: 50px;
      width: 75px !important; }
      @media only screen and (max-width: 1200px) {
        .hero .hero__wrapper .hero__gear1 {
          width: 50px !important; } }
      @media only screen and (max-width: 768px) {
        .hero .hero__wrapper .hero__gear1 {
          width: 45px !important; } }
    .hero .hero__wrapper .hero__gear6 {
      position: absolute;
      left: -70%;
      opacity: 0;
      -webkit-transform: scale(0.2);
      -moz-transform: scale(0.2);
      -ms-transform: scale(0.2);
      -o-transform: scale(0.2);
      transform: scale(0.2);
      -webkit-animation: spin 1s ease 0.4s 1 forwards;
      animation: spin 1s ease 0.4s 1 forwards; }
    .hero .hero__wrapper .hero__arrows {
      opacity: 0;
      width: 70px;
      position: absolute;
      right: 50%;
      bottom: 2.5rem;
      -webkit-animation: arrowIn 0.3s ease-out 1.4s 1 forwards;
      animation: arrowIn 0.3s ease-out 1.4s 1 forwards; }
    @media only screen and (max-width: 768px) {
      .hero .hero__wrapper h1 {
        word-spacing: 0.5rem; }
      .hero .hero__wrapper .hero__subtitle p {
        margin-bottom: 0; } }
  .hero .hero__red--group {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  @media only screen and (max-width: 768px) {
    .hero .hero__wrapper {
      width: 90%; }
      .hero .hero__wrapper h1 {
        margin-top: 100px; }
      .hero .hero__wrapper .hero__gear6 {
        left: -50%;
        width: 116px !important; } }
    @media only screen and (max-width: 768px) and (max-width: 1200px) {
      .hero .hero__wrapper .hero__gear6 {
        width: 80px !important; } }
    @media only screen and (max-width: 768px) and (max-width: 768px) {
      .hero .hero__wrapper .hero__gear6 {
        width: 60px !important; } }
  @media only screen and (max-width: 768px) {
      .hero .hero__wrapper .hero__gear1 {
        top: 15px; } }

section.animation {
  position: relative;
  padding: 12rem 0; }
  @media only screen and (max-width: 768px) {
    section.animation {
      padding: 6rem 0; } }
  section.animation .animation__container {
    width: 70%;
    margin: auto; }
    @media only screen and (max-width: 768px) {
      section.animation .animation__container {
        width: 85%; } }
    section.animation .animation__container img {
      width: 100%;
      aspect-ratio: 10/6; }
  section.animation .animation__blue--group {
    position: absolute;
    right: 0; }

section.about-us {
  position: relative;
  padding-top: 60px; }
  section.about-us .about-us__container {
    width: 70%;
    margin: auto;
    overflow: hidden; }
    section.about-us .about-us__container p {
      width: 65%; }
    section.about-us .about-us__container img {
      width: 100%;
      margin-top: 130px; }
    @media only screen and (max-width: 1200px) {
      section.about-us .about-us__container {
        width: 80%; }
        section.about-us .about-us__container p {
          width: 95%;
          text-align: justify; }
        section.about-us .about-us__container img {
          width: 90%;
          margin: 1.5rem 5%; } }
  section.about-us .about-us__gear9 {
    position: absolute;
    right: 0;
    top: 22%;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  section.about-us .about-us__red--group {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  section.about-us .about-us__arrows {
    position: absolute;
    right: 25%;
    top: 25%; }
  @media only screen and (max-width: 1200px) {
    section.about-us .about-us__gear9 {
      top: -10%;
      right: 95%;
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
      width: 60px;
      display: none; }
    section.about-us .about-us__arrows {
      top: 105%; } }

section.why-us {
  position: relative; }
  section.why-us .why-us__svg--gear {
    position: absolute;
    right: 0;
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%); }
    @media only screen and (max-width: 1200px) {
      section.why-us .why-us__svg--gear {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        width: 60px; } }
  section.why-us .why-us__svg--double-gear {
    position: absolute;
    top: 55%;
    left: 32%; }
    @media only screen and (max-width: 1200px) {
      section.why-us .why-us__svg--double-gear {
        display: none; } }
  section.why-us .why-us__svg--blue-group {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    right: 0; }
    @media only screen and (max-width: 768px) {
      section.why-us .why-us__svg--blue-group {
        top: 100%; } }
  section.why-us .why-us__container {
    width: 70%;
    margin: 1.5rem auto 8rem; }
    section.why-us .why-us__container h2 {
      margin-bottom: 80px; }
    @media only screen and (max-width: 768px) {
      section.why-us .why-us__container {
        width: 90%;
        margin-top: 6rem; }
        section.why-us .why-us__container h2 {
          width: fit-content;
          margin: auto;
          margin-bottom: 3rem; } }
  section.why-us ul {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6rem;
    row-gap: 9rem; }
    section.why-us ul h4 {
      margin-bottom: 30px; }
    @media only screen and (max-width: 1200px) {
      section.why-us ul {
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem; } }
    @media only screen and (max-width: 768px) {
      section.why-us ul {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        row-gap: 3rem;
        width: 80%;
        margin: auto;
        row-gap: 2.5rem; }
        section.why-us ul h4 {
          margin-bottom: 1rem;
          text-align: left;
          margin: 0.5rem 0; }
        section.why-us ul p {
          text-align: justify; } }

section.testimonials {
  position: relative;
  padding: 300px 0; }
  section.testimonials .testimonials__svg--gear8 {
    position: absolute;
    top: 0;
    -webkit-transform: translateX(125%);
    -moz-transform: translateX(125%);
    -ms-transform: translateX(125%);
    -o-transform: translateX(125%);
    transform: translateX(125%); }
  section.testimonials .testimonials__svg--arrows {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
  section.testimonials .testimonials__svg--gear {
    position: absolute;
    right: 0;
    -webkit-transform: translateX(-125%);
    -moz-transform: translateX(-125%);
    -ms-transform: translateX(-125%);
    -o-transform: translateX(-125%);
    transform: translateX(-125%); }
    @media only screen and (max-width: 768px) {
      section.testimonials .testimonials__svg--gear {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        width: 50px; } }
  section.testimonials .testimonials__container {
    width: 70%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px; }
    section.testimonials .testimonials__container h3 {
      width: fit-content; }
    section.testimonials .testimonials__container .testimonials__image--container {
      position: relative;
      width: 100%; }
      section.testimonials .testimonials__container .testimonials__image--container .testimonials__image--svg {
        position: absolute;
        right: 0;
        bottom: -6px;
        -webkit-transform: translate(50%);
        -moz-transform: translate(50%);
        -ms-transform: translate(50%);
        -o-transform: translate(50%);
        transform: translate(50%); }
      section.testimonials .testimonials__container .testimonials__image--container .testimonials__image--photo {
        width: 100%; }
    section.testimonials .testimonials__container .testimonials__description {
      display: flex;
      flex-direction: row;
      align-items: flex-start; }
    section.testimonials .testimonials__container h5 {
      margin-bottom: 50px; }
    section.testimonials .testimonials__container p {
      margin-left: 1rem; }
  @media only screen and (max-width: 1200px) {
    section.testimonials {
      padding: 100px 0; }
      section.testimonials .testimonials__svg--gear8 {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        width: 60px; }
      section.testimonials .testimonials__svg--arrows {
        top: 100%; }
      section.testimonials .testimonials__container {
        width: 90%;
        margin: auto;
        grid-template-columns: 1fr; }
        section.testimonials .testimonials__container .testimonials__image--container {
          max-width: 250px;
          margin: 0; }
          section.testimonials .testimonials__container .testimonials__image--container .testimonials__image--svg {
            width: 100px; }
        section.testimonials .testimonials__container .testimonials__description {
          width: 90%; }
          section.testimonials .testimonials__container .testimonials__description p {
            text-align: justify; }
          section.testimonials .testimonials__container .testimonials__description img {
            width: 30px; } }

section.contributors {
  margin: 80px 0;
  margin-bottom: 70px; }
  section.contributors h2 {
    width: 70%;
    margin: 0 auto 60px; }
  section.contributors .contributors__container {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding-left: 0;
    row-gap: 4rem; }
    @media only screen and (max-width: 1200px) {
      section.contributors .contributors__container {
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: 0 10%; }
        section.contributors .contributors__container li {
          margin: auto;
          text-align: center; }
          section.contributors .contributors__container li h5 {
            margin: auto; } }
    @media only screen and (max-width: 768px) {
      section.contributors .contributors__container {
        grid-template-columns: 1fr; } }
    section.contributors .contributors__container img {
      margin-bottom: 30px; }
    section.contributors .contributors__container h5 {
      width: fit-content; }
    section.contributors .contributors__container li:last-of-type h5 {
      margin-bottom: 20px; }
    section.contributors .contributors__container li:last-of-type text {
      -webkit-transform: translate(50%, calc(50% + 1px));
      -moz-transform: translate(50%, calc(50% + 1px));
      -ms-transform: translate(50%, calc(50% + 1px));
      -o-transform: translate(50%, calc(50% + 1px));
      transform: translate(50%, calc(50% + 1px));
      fill: #361281;
      font-family: "Aspergit";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      letter-spacing: 1px; }
  section.contributors h3 {
    width: 70%;
    margin: 70px auto 0;
    letter-spacing: 1px; }
    @media only screen and (max-width: 768px) {
      section.contributors h3 {
        width: 80%;
        margin-bottom: 1rem; } }
  section.contributors .contributors__svg--gear6 {
    position: absolute;
    right: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
    @media only screen and (max-width: 768px) {
      section.contributors .contributors__svg--gear6 {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        width: 70px; } }
  section.contributors .contributors__svg--red-group {
    position: absolute; }

section.join-network {
  margin-top: 300px;
  padding-top: 50px;
  position: relative; }
  section.join-network .join-network__svg--arrows {
    position: absolute;
    left: 70%;
    top: 0; }
  section.join-network .join-network__container {
    width: 70%;
    margin: auto; }
    section.join-network .join-network__container h2 {
      margin-bottom: 60px; }
    section.join-network .join-network__container img {
      width: 100%; }
  @media only screen and (max-width: 768px) {
    section.join-network {
      margin-top: 100px; }
      section.join-network .join-network__container {
        width: 90%;
        margin: 2rem auto; } }

section.video {
  position: relative;
  padding-bottom: 150px;
  padding-top: 150px; }
  section.video .video__svg--red-group {
    position: absolute;
    right: 10px;
    top: 0; }
  section.video .video__svg--gear2 {
    position: absolute;
    top: 15%;
    left: 62%; }
    @media only screen and (max-width: 1200px) {
      section.video .video__svg--gear2 {
        width: 50px;
        top: 5%; } }
  section.video .video__svg--gear9 {
    position: absolute;
    left: 0;
    -webkit-transform: translateX(130%) translateY(-30%);
    -moz-transform: translateX(130%) translateY(-30%);
    -ms-transform: translateX(130%) translateY(-30%);
    -o-transform: translateX(130%) translateY(-30%);
    transform: translateX(130%) translateY(-30%); }
  section.video .video__svg--gear7 {
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: translate(-120%, 50%);
    -moz-transform: translate(-120%, 50%);
    -ms-transform: translate(-120%, 50%);
    -o-transform: translate(-120%, 50%);
    transform: translate(-120%, 50%); }
  @media only screen and (max-width: 1200px) {
    section.video {
      padding: 120px 0; }
      section.video .video__svg--gear7 {
        width: 70px;
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0); }
      section.video .video__svg--gear9 {
        width: 75px;
        -webkit-transform: translate(0, -120%);
        -moz-transform: translate(0, -120%);
        -ms-transform: translate(0, -120%);
        -o-transform: translate(0, -120%);
        transform: translate(0, -120%); } }
  section.video .video__container {
    width: 70%;
    margin: auto; }
    section.video .video__container h2 {
      margin-bottom: 50px; }
    section.video .video__container .video__wrapper {
      position: relative;
      width: 100%; }
      section.video .video__container .video__wrapper .video__player {
        object-fit: cover;
        width: 100%;
        object-position: top;
        aspect-ratio: 2.01/1; }
      section.video .video__container .video__wrapper .video__button--play {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
        section.video .video__container .video__wrapper .video__button--play:hover {
          -webkit-transform: translate(-50%, -50%) scale(1.2);
          -moz-transform: translate(-50%, -50%) scale(1.2);
          -ms-transform: translate(-50%, -50%) scale(1.2);
          -o-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2); }
    @media only screen and (max-width: 768px) {
      section.video .video__container {
        width: 90%;
        margin-top: 2rem; }
        section.video .video__container .video__wrapper .video__button--play {
          width: 25px; } }

section.news {
  position: relative;
  padding: 200px 0 0; }
  section.news .news__svg--blue-group-big-left {
    position: absolute;
    top: 0; }
  section.news .news__svg--arrows {
    position: absolute;
    left: 55%;
    top: 10%;
    opacity: 0;
    -webkit-animation: arrowIn 0.3s ease-out 1.4s 1 forwards;
    animation: arrowIn 0.3s ease-out 1.4s 1 forwards; }
    @media only screen and (max-width: 768px) {
      section.news .news__svg--arrows {
        top: 0; } }
  section.news .news__svg--gear8 {
    position: absolute;
    -webkit-transform: translate(120%, 100%);
    -moz-transform: translate(120%, 100%);
    -ms-transform: translate(120%, 100%);
    -o-transform: translate(120%, 100%);
    transform: translate(120%, 100%);
    bottom: 0;
    left: 0; }
    @media only screen and (max-width: 1200px) {
      section.news .news__svg--gear8 {
        -webkit-transform: translate(0, 150%);
        -moz-transform: translate(0, 150%);
        -ms-transform: translate(0, 150%);
        -o-transform: translate(0, 150%);
        transform: translate(0, 150%);
        width: 70px; } }
  section.news .news__svg--arrows--bottom {
    position: absolute;
    bottom: -70px;
    right: 22%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%); }
  section.news .news__container {
    width: 70%;
    margin: auto; }
    section.news .news__container h2 {
      letter-spacing: -2.82px;
      margin-bottom: 3rem; }
    section.news .news__container .news__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 0;
      list-style: none;
      gap: 90px;
      margin-bottom: 0; }
      section.news .news__container .news__list img {
        margin-bottom: 20px;
        width: 100%;
        object-fit: cover; }
      section.news .news__container .news__list span.small {
        display: block;
        margin-bottom: 10px; }
      section.news .news__container .news__list h4 {
        margin-bottom: 10px; }
      section.news .news__container .news__list p {
        margin-bottom: 30px; }
      section.news .news__container .news__list span.small,
      section.news .news__container .news__list p.small {
        font-family: Futura PT;
        font-style: normal;
        font-weight: 300;
        line-height: 114%;
        /* 114.286% */
        letter-spacing: -1.12px; }
      section.news .news__container .news__list a {
        color: #d5ff2f;
        text-decoration: none; }
      section.news .news__container .news__list li {
        margin-bottom: 40px; }
      @media only screen and (max-width: 768px) {
        section.news .news__container .news__list {
          grid-template-columns: 1fr;
          gap: 2rem; }
          section.news .news__container .news__list p {
            text-align: justify; } }
    section.news .news__container svg {
      position: relative; }
    section.news .news__container text {
      -webkit-transform: translate(50%, calc(50% + 2px));
      -moz-transform: translate(50%, calc(50% + 2px));
      -ms-transform: translate(50%, calc(50% + 2px));
      -o-transform: translate(50%, calc(50% + 2px));
      transform: translate(50%, calc(50% + 2px));
      fill: #361281;
      font-family: "Aspergit";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      letter-spacing: 1px; }
  @media only screen and (max-width: 768px) {
    section.news {
      padding-top: 100px;
      width: 100%;
      margin: auto; }
      section.news .news__container {
        width: 80%; }
        section.news .news__container h2 {
          letter-spacing: 2px;
          text-align: center; }
        section.news .news__container svg {
          width: 150px; } }

footer {
  position: relative; }
  footer .footer__container {
    width: 40%;
    margin-left: 15%;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 120px; }
    footer .footer__container .footer__navigation {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 1rem; }
      footer .footer__container .footer__navigation a {
        font-family: Futura PT;
        font-size: 28px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        /* 114.286% */
        letter-spacing: -1.12px;
        color: #fff;
        text-decoration: none; }
        footer .footer__container .footer__navigation a:hover::after {
          width: 100%; }
        footer .footer__container .footer__navigation a::after {
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          width: 0%;
          height: 3px;
          background-color: #d5ff2f; }
    footer .footer__container .footer__socials {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 22px; }
      footer .footer__container .footer__socials a img {
        width: 18px;
        height: 18px; }
    @media only screen and (max-width: 1200px) {
      footer .footer__container {
        width: 80%;
        margin-left: 10%; } }
    @media only screen and (max-width: 768px) {
      footer .footer__container {
        flex-direction: column;
        width: 100%;
        margin: 150px 0 2rem;
        gap: 2rem; }
        footer .footer__container img {
          width: 50%;
          margin: 1rem auto; }
        footer .footer__container .footer__navigation {
          flex-direction: row;
          width: 90%;
          margin: auto; }
        footer .footer__container .footer__socials {
          grid-template-columns: repeat(6, 1fr);
          margin: auto; } }
  footer .copyrights {
    text-align: center;
    padding-bottom: 20px; }
  footer .footer__svg--black-group {
    position: absolute;
    bottom: 0;
    right: 15%;
    z-index: -2; }
  @media only screen and (max-width: 1200px) {
    footer .footer__svg--black-group {
      width: 200px; } }
  @media only screen and (max-width: 768px) {
    footer {
      overflow: hidden; }
      footer .footer__container {
        margin-bottom: 4rem; }
      footer .copyrights {
        font-size: 20px; }
      footer .footer__svg--black-group {
        width: 150px;
        right: 0;
        z-index: -2; } }
